/* Footer Styles */
.main-footer {
    text-align: center;
    padding: 20px 20px;
    margin-top: 50px;
    border-top: 1px solid #979797;
    color: #666;
}

.main-footer h3 {
    margin-bottom: 5px;
    color: #333;
}

.main-footer p {
    font-size: 0.85rem;
}

a {
    text-decoration: none;
}

.border {
    margin-left: 10px;
}

.github {
    border-radius: 50%;
}